<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<dict>
		<key>CandidatesWindowContent</key>
		<dict>
			<key>ccwDefaultCellLayout</key>
			<string>default layout</string>
			<key>ccwFixWindowSize</key>
			<true/>
			<key>ccwVariableWindowHeight</key>
			<true/>
			<key>ccwListDimension</key>
			<string>default dimension</string>
		</dict>
		<key>CandidatesWindowHorizontalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowColumnNumbers</key>
			<true/>
			<key>ccwPropertyShowLineNumbers</key>
			<false/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowHorizontalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{9, 1}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>10</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {25, 15}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{30, 18}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowVerticalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowAnnotationAt</key>
			<integer>3</integer>
			<key>ccwPropertyShowColumnNumbers</key>
			<false/>
			<key>ccwPropertyShowLineNumbers</key>
			<true/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{1, 9}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>10</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {20, 15}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{30, 18}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowGridStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{5, 5}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>10</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {20, 15}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{30, 18}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>12</key>
	<dict>
		<key>CandidatesWindowContent</key>
		<dict>
			<key>ccwDefaultCellLayout</key>
			<string>default layout</string>
			<key>ccwFixWindowSize</key>
			<true/>
			<key>ccwVariableWindowHeight</key>
			<true/>
			<key>ccwListDimension</key>
			<string>default dimension</string>
		</dict>
		<key>CandidatesWindowHorizontalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowColumnNumbers</key>
			<true/>
			<key>ccwPropertyShowLineNumbers</key>
			<false/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowHorizontalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{9, 1}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>12</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {27, 17}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{32, 20}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowVerticalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowAnnotationAt</key>
			<integer>3</integer>
			<key>ccwPropertyShowColumnNumbers</key>
			<false/>
			<key>ccwPropertyShowLineNumbers</key>
			<true/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{1, 9}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>12</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {27, 17}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{32, 20}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowGridStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{5, 5}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>12</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {27, 17}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{32, 20}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>14</key>
	<dict>
		<key>CandidatesWindowContent</key>
		<dict>
			<key>ccwDefaultCellLayout</key>
			<string>default layout</string>
			<key>ccwFixWindowSize</key>
			<true/>
			<key>ccwVariableWindowHeight</key>
			<true/>
			<key>ccwListDimension</key>
			<string>default dimension</string>
		</dict>
		<key>CandidatesWindowHorizontalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{9, 1}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>14</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {29, 19}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{34, 22}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowHorizontalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowColumnNumbers</key>
			<true/>
			<key>ccwPropertyShowLineNumbers</key>
			<false/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowAnnotationAt</key>
			<integer>3</integer>
			<key>ccwPropertyShowColumnNumbers</key>
			<false/>
			<key>ccwPropertyShowLineNumbers</key>
			<true/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{1, 9}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>14</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {24, 19}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{34, 22}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowGridStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{1, 9}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>14</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {24, 19}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{34, 22}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>16</key>
	<dict>
		<key>CandidatesWindowContent</key>
		<dict>
			<key>ccwDefaultCellLayout</key>
			<string>default layout</string>
			<key>ccwFixWindowSize</key>
			<true/>
			<key>ccwVariableWindowHeight</key>
			<true/>
			<key>ccwListDimension</key>
			<string>default dimension</string>
		</dict>
		<key>CandidatesWindowHorizontalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{9, 1}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>16</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {29, 21}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{38, 24}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowHorizontalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowColumnNumbers</key>
			<true/>
			<key>ccwPropertyShowLineNumbers</key>
			<false/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowAnnotationAt</key>
			<integer>3</integer>
			<key>ccwPropertyShowColumnNumbers</key>
			<false/>
			<key>ccwPropertyShowLineNumbers</key>
			<true/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{1, 9}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>16</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {24, 21}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{38, 24}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowGridStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{5,5}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>16</integer>
						<key>ccwCellItemPosition</key>
						<string>{{10, 5}, {24, 21}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{38, 24}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>18</key>
	<dict>
		<key>CandidatesWindowContent</key>
		<dict>
			<key>ccwDefaultCellLayout</key>
			<string>default layout</string>
			<key>ccwFixWindowSize</key>
			<true/>
			<key>ccwVariableWindowHeight</key>
			<true/>
			<key>ccwListDimension</key>
			<string>default dimension</string>
		</dict>
		<key>CandidatesWindowHorizontalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{9, 1}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>18</integer>
						<key>ccwCellItemPosition</key>
						<string>{{12, 5}, {35, 23}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{42, 26}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowHorizontalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowColumnNumbers</key>
			<true/>
			<key>ccwPropertyShowLineNumbers</key>
			<false/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowAnnotationAt</key>
			<integer>3</integer>
			<key>ccwPropertyShowColumnNumbers</key>
			<false/>
			<key>ccwPropertyShowLineNumbers</key>
			<true/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{1, 9}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>18</integer>
						<key>ccwCellItemPosition</key>
						<string>{{12, 5}, {30, 23}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{42, 26}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowGridStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{5, 5}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>18</integer>
						<key>ccwCellItemPosition</key>
						<string>{{12, 5}, {30, 23}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{42, 26}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>24</key>
	<dict>
		<key>CandidatesWindowContent</key>
		<dict>
			<key>ccwDefaultCellLayout</key>
			<string>default layout</string>
			<key>ccwFixWindowSize</key>
			<true/>
			<key>ccwVariableWindowHeight</key>
			<true/>
			<key>ccwListDimension</key>
			<string>default dimension</string>
		</dict>
		<key>CandidatesWindowHorizontalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowColumnNumbers</key>
			<true/>
			<key>ccwPropertyShowLineNumbers</key>
			<false/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowHorizontalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{9, 1}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>24</integer>
						<key>ccwCellItemPosition</key>
						<string>{{14, 5}, {43, 29}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{52, 32}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowVerticalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowAnnotationAt</key>
			<integer>3</integer>
			<key>ccwPropertyShowColumnNumbers</key>
			<false/>
			<key>ccwPropertyShowLineNumbers</key>
			<true/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{1, 9}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>24</integer>
						<key>ccwCellItemPosition</key>
						<string>{{14, 5}, {38, 29}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{52, 32}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowGridStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{5, 5}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>24</integer>
						<key>ccwCellItemPosition</key>
						<string>{{14, 5}, {38, 29}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{52, 32}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>36</key>
	<dict>
		<key>CandidatesWindowContent</key>
		<dict>
			<key>ccwDefaultCellLayout</key>
			<string>default layout</string>
			<key>ccwFixWindowSize</key>
			<true/>
			<key>ccwVariableWindowHeight</key>
			<true/>
			<key>ccwListDimension</key>
			<string>default dimension</string>
		</dict>
		<key>CandidatesWindowHorizontalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowColumnNumbers</key>
			<true/>
			<key>ccwPropertyShowLineNumbers</key>
			<false/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowHorizontalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{9, 1}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>36</integer>
						<key>ccwCellItemPosition</key>
						<string>{{14, 5}, {55, 41}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{64, 44}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowVerticalProperty</key>
		<dict>
			<key>ccwPropertyAlignFirstItemToInlineHole</key>
			<false/>
			<key>ccwPropertyShowAnnotationAt</key>
			<integer>3</integer>
			<key>ccwPropertyShowColumnNumbers</key>
			<false/>
			<key>ccwPropertyShowLineNumbers</key>
			<true/>
			<key>ccwPropertyVerticalWriting</key>
			<false/>
		</dict>
		<key>CandidatesWindowVerticalStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{1, 9}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>36</integer>
						<key>ccwCellItemPosition</key>
						<string>{{14, 5}, {50, 41}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{64, 44}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CandidatesWindowGridStyle</key>
		<dict>
			<key>default dimension</key>
			<string>{5, 5}</string>
			<key>default layout</key>
			<dict>
				<key>ccwCellItems</key>
				<array>
					<dict>
						<key>ccwCellItemFontColor</key>
						<string>{0, 0, 0}</string>
						<key>ccwCellItemFontName</key>
						<string>AppleMyungjo</string>
						<key>ccwCellItemFontSize</key>
						<integer>36</integer>
						<key>ccwCellItemPosition</key>
						<string>{{14, 5}, {50, 41}}</string>
						<key>ccwCellItemTextBoxBehavior</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ccwCellSize</key>
				<string>{64, 44}</string>
				<key>ccwCellDescriptionForAX</key>
				<string>Candidate</string>
				<key>ccwCellItemIndexForAXValue</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
